.carousel-enter {
    opacity: 0.01;
}
  
.carousel-enter.carousel-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.carousel-leave {
  opacity: 1;
}

.carousel-leave.carousel-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.carousel-appear {
  opacity: 0.01;
}

.carousel-appear.carousel-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}