.message {
  background-color: lightcyan;
  color: black;
  border-radius: 3px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.message .header {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message .header label {
  padding: 2px 0px 0px 2px;
}

.message .close {
  border: none;
  box-shadow: none;
  background: none;
  position:relative;
}

.message .close::after {
  display: inline-block;
  content: "\00d7";
  font-size: 20px;
  font-weight: bold;
}

.message .close:hover {
  cursor: pointer;
}

.message .close:hover:active,
.message .close:focus:active,
.message .close:active,
.message .close:focus
{
  outline: none;
}


.timeout-bar
{
  height: 5px;
  background: transparent;
}

.timeout-bar .indicator {
  background-color: lightgrey;
  height: 100%;
}
/*
.timeout-indicator-enter {
  width: 100%;
}

.timeout-indicator-enter-active {
  width: 100%;
}

.timeout-indicator-enter-done {
  width: 100%;
}

.timeout-indicator-exit {
  width: 100%;
}

.timeout-indicator-exit-active {
  width: 0%;
  transition: width 5000ms linear;
}

.timeout-indicator-exit-done {
  width: 0%;
}*/


.fading-message-enter {
    opacity: 0.01;
  }
  .fading-message-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .fading-message-enter-done {
    opacity: 1;
  }
  .fading-message-exit {
    opacity: 1;
  }
  .fading-message-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  }

  .fading-message-appear {
    opacity: 0.01;
  }

  .fading-message-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }