.themed-list
{
    margin: 0px;
    border: none;
    box-shadow: none;
    list-style: none;
    padding: 5px;
    width: 400px;
}

.themed-list.light
{
    background-color: lightgreen;
    color: black;
}

.themed-list.dark
{
    background-color: darkgreen;
    color: white;
}

.themed-list li
{
    padding: 5px 0px 5px 0px;
    border-top: 1px solid black;
}

.themed-list li:first-child
{
    border: none;
}
