.example-component {
    position: fixed;
    top: 400px;
    left: 400px;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: rotateZ(0deg);
}
.example-component.show {
    opacity: 1;
    visibility: visible;
}
.example-component.rotate {
    transform: rotateZ(45deg);
}