
/*
 *  STYLE 4
 */

 ::-webkit-scrollbar-track
 {
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
   background-color: #282c34;
 }
 
 ::-webkit-scrollbar
 {
   width: 10px;
   background-color: #282c34;
 }
 
 ::-webkit-scrollbar-thumb
 {
   background-color: #A5A5A5;
   border: 0px;
   border-radius: 2px;
 }

.App {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #0b0c0e;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  height: 40px;
  pointer-events: none;  

}

.App-main {
flex: 1;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.App-bar
{
  background-color: #282c34;
}

.App-bar-content
{
  background-color: #16191d;
}



.App-bar-button {
  background-color: rgb(231, 231, 231);
  border-radius: 2px;
  border: none;
  box-shadow: none;
  height: 30px;
  margin: 10px;
}
.App-bar-button:hover {
  background-color:rgb(211, 211, 211);
  cursor: pointer;
}
.App-bar-button-on {
  background-color: rgb(7, 231, 7);
}

.App-bar-button-on:hover {
  background-color: rgb(7, 241, 7);
}

.App-bar-button:focus {
  outline: none;
}
.App-bar-button:hover:focus {
  outline: none;
}

.App-bar-button:focus:active {
  outline: none;
}

.App-label {
  color: #61dafb;
}

.element-details
{
  overflow: auto;
  /*height: 200px;*/
  background-color: transparent;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 300px;
  top:0px;
  right: 0px;
  position: absolute;
  width: 300px;
  margin: 5px;
}

.element-details-row {
  color: #af88ee;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(4px + 0.9vmin);
  overflow: hidden; /* not panic is cut for now */
  padding-top: 4px;
}

.element-details-head {
  color: #af88ee;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: calc(4px + 0.9vmin);
}

.element-details-divider {
  border-bottom: 1px solid gray;
}
.element-details-head > button 
{
  background-color: transparent;
  margin: 0px;
  box-shadow: none;
  border: none;
  color: #af88ee;
  padding: 0px;
  font-size: 18px;
  outline: none !important;
}

.element-details-head > button:hover
{
  cursor: pointer;
}

.element-details-head > button:hover:active
.element-details-head > button:focus:active
.element-details-head > button:active
.element-details-head > button:focus
{
  outline: none !important;
}

.element-details-row span{
  color: lightgray!important;
}