
.App {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  height: 40px;
  pointer-events: none;  

}

.App-main {
flex: 1;
position: relative;
display: flex;
flex-direction: row;
justify-content: flex-start;
}

.App-bar 
{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid gray;
}
.App-canvas {
  flex: 1;
  border: 1px solid gray;
  position: relative;
  background-color: black;
}

.Fabric-canvas
 {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
 }

.App-label {
  color: #61dafb;
}

