.resp-area
{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.resp-area .resp
{
    margin: 10px;
    border-radius: 3px;
    background-color: antiquewhite;
    color: black;
    text-align: center;
}

.resp-area .resp .resp-close
{
    margin: 0px;
    box-shadow: none;
    background: transparent;
    border:none;
    color: gray;
    float: right;
}

.resp-area .resp .resp-close:hover,
.resp-area .resp .resp-close:hover:active
{
    color: black;
    cursor: pointer;
}

.resp-area .resp .resp-close:focus:active
{
    outline: none;
}

.resp-area .resp .resp-close::after
{
    content: 'x';
}