.req-button
{
    background-color: lightgray;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin: none;
    width: 120px;
    height: 54px;
    color: black;
    transition-property: transform;
    transition-duration: 200ms;
    margin: 20px;
}

.req-button:hover
{
    cursor: pointer;
    background-color: whitesmoke;
}

.req-button:active,
.req-button:focus,
.req-button:active:focus,
{
    outline: none;
}

.req-button:active
{
    transform: scale(0.98);
}