.example-component {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 0.5s;
    opacity: 0;
    position: fixed;
    top: 400px;
    left: 400px;
}
.example-component.show {
    opacity: 1;
}