.hello {
    text-align: center;
    margin: 20px;
    border: 1px solid black;
    border-radius: 4px;
  }


.hello .greeting
{
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px;
}